langgraph 
langchain_community 
langchain[openai]
IPython
grandalf
pygraphviz
matplotlib
docker
RestrictedPython
IPython
uuid
loguru
pytest
pytest-benchmark
pyyaml
tqdm
agentrun_plus>=0.2.19
build
twine
